.row
  .col-md-12
    .container-inner
      %h1.main-title.single-title.entry-title
        = @post.title
      .row#control_wrapper
        .col-md-8.single-post-selector
          .single-page
            .post-content.post-selector.active
              .aa_item_info_block.aa_top_info_block
                .postinfo.pull-right
                  .post-categories
                    .category-list
                      %span.aa_cat_name_block
                        = link_to @post.category.name
                %a.aa_postauthor_link{:href => "#"}
                  = image_tag @post.user.avatar,size: "32x32", class: "avatar avatar-32 photo"
                  %span
                    by
                    %span.aa_item_author 
                      = @post.user.username
                %span.aa_item_time 
                  - if @post.created_at > Time.now.beginning_of_day
                    = "#{time_ago_in_words(@post.created_at)} ago"
                  - else
                    = @post.created_at.strftime("%b %d, %Y")
              .aa_item_info_block.aa_top_info_block        
                .single_share_block.single_post_additional_block.short
                  .aa_socials.single_socs.clearfix
                    %a.soc.fb.window.activated{:href => "https://www.facebook.com/sharer.php?app_id=598473026880919&u=http://www.androidauthority.com/samsung-pay-early-access-registrations-now-open-india-754530/&t=Samsung+Pay+early+access+registrations+now+open+in+India", :rel => "me", :target => "_blank", :title => "Share on Facebook"}
                      %i.fa.fa-facebook-official
                    %a.soc.tw.window.activated{:href => "https://twitter.com/intent/tweet?url=http://www.androidauthority.com/samsung-pay-early-access-registrations-now-open-india-754530/&text=Samsung+Pay+early+access+registrations+now+open+in+India", :rel => "me", :target => "_blank", :title => "Share on Twitter"}
                      %i.fa.fa-twitter
                    %a.soc.g.window.activated{:href => "https://plus.google.com/share?url=http://www.androidauthority.com/samsung-pay-early-access-registrations-now-open-india-754530/", :rel => "me", :target => "_blank", :title => "Share on Google +"}
                      %i.fa.fa-youtube
              %p            
                =link_to image_tag(@post.image), @post.image(:original), :popup=>['original_image', 'height=700,width=900'],class: 'image-link'

              = @post.description.html_safe
              .aa_item_info_block.aa_bottom_info_block
                .postinfo
                  .post-categories
                    .category-list
                      %span.aa_cat_name_block
                        %a{:href => "http://www.androidauthority.com/news/", :title => "View all posts in News"} News
                  .aa-item-icon.aa-item-tags.post-tags
                    .tag-list
                      %i.fa.fa-tags
                      = raw @post.tag_list.map { |t| link_to t, tag_path(t),class: "nuans-neo-reloaded" }.join(', ') 
                - if @post.source.present?
                  .aa_source_link_wrapper.aa-item-icon.aa_item_source
                    = link_to @post.source, @post.url_source, class: "aa_source_link", :target => "_blank"
                - if @post.via.present?
                  .aa_via_link_wrapper.aa-item-icon.aa_item_via
                    = link_to @post.via, @post.url_via, class: "aa_via_link", :target => "_blank"


          #comments-753924.aa_comments_wrapper.clear
            .aa_comments_more.primary-button.aa-full-width-button.aa_comments_button{"data-id" => "753924"}
              %span
                Show
                %span.meta-comments.metric.info-right{"data-original-title" => "Comments", :title => ""}
                  -# %span.numcount
                comments

          .none          
            #disqus_thread
            :javascript
            
              var disqus_config = function () {
              this.page.url = "#{request.original_url}";  
              this.page.identifier = "#{@post.id}";
              };

              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://xnxx-5.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
            %noscript
              Please enable JavaScript to view the
              %a{:href => "https://disqus.com/?ref_noscript"} comments powered by Disqus.
