%p#notice= notice

%p
  %b Logo:
  = @controlsite.logo
%p
  %b Facebook:
  = @controlsite.facebook
%p
  %b Twitter:
  = @controlsite.twitter
%p
  %b Youtube:
  = @controlsite.youtube
%p
  %b Pinterest:
  = @controlsite.pinterest
%p
  %b Google:
  = @controlsite.google
%p
  %b Plus:
  = @controlsite.plus
%p
  %b Ads1:
  = @controlsite.ads1
%p
  %b Ads2:
  = @controlsite.ads2
%p
  %b Ads3:
  = @controlsite.ads3
%p
  %b Ads4:
  = @controlsite.ads4
%p
  %b Post:
  = @controlsite.post

= link_to 'Edit', edit_controlsite_path(@controlsite)
\|
= link_to 'Back', controlsites_path
